/**********************
Colors
**********************/

$white: #fff;
$lightBlue: #9FC5E8;
$orange: #FFB715;
$bgColor: #F5F7FA;
$midGrey: #818181;
$purple: #8934B9;
$red: #D80F0F;
$lightGrey: #dddddd;
$blue: #016BA8;
$bg: #F5F7FA;
$green: #00AF22;
$indigo: #6574cd;
$pink: #f66d9b;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
